.hero-card {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.hero-image {
  border-radius: 100%;
}

.hero-data {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.hero-name {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text);
}

.hero-description {
  font-size: 0.75rem;
  color: var(--gray);
}

@media screen and (max-width: 600px) {
  .hero-picture {
    border: 3px solid var(--hover);
  }
}