@media screen and (min-width: 640px) {
  .job-card:nth-child(2n) {
    transform: translateX(100%);
    padding-right: 0;
  }

  .job-card:nth-child(2n + 1) {
    padding-left: 0;
    padding-right: 1.5rem;
  }

  .job-card:nth-child(2n + 1) .job-picture {
    left: calc(100% + 2rem);
  }

  .job-card:nth-child(2n) .job-picture {
    left: calc(-120px - 2rem);
  }

  .job-card:nth-child(2n + 1) .circle {
    left: calc(100% - 10px);
  }
}

.accordion {
  /* transition: all 1s ease-in-out; */
}

.accordion.accordion-expanded {
  height: 50%;
  animation: animate 1s;
}

.accordion.accordion-collapsed {
  max-height: 0;
}

@keyframes animate {
  0% {
    max-height: 0%;
  }
  50% {
    max-height: 50%;
  }
  100% {
    max-height: 100%;
  }
}